@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: 0.3s;
  outline: none;
  font-family: var(--font);
}
:root {
  --font: "Quicksand", sans-serif;

  --preto: #000;
  --branco: #fff;
  --cinza-claro: #dfdfdf;
}
::-webkit-scrollbar {
  display: none;
}
html,
body {
  behavior: smooth;
}
h1,
h4 {
  color: var(--preto);
}
main {
  background-color: var(--branco);
  padding: 1rem 0;
}
.scroll {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--preto);
  transition: all 150ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: var(--branco);
}
.container {
  width: 100%;
  max-width: 960px;
  margin: auto;
}
.btn {
  color: var(--branco);
  background: var(--preto);
  padding: 0.7rem 3rem;
  border-radius: 2rem;
  font-weight: 600;
}
.btn:hover {
  transform: translateY(3px);
}
header {
  min-height: 50vh;
  background: url("./img/home-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
header .img-social {
  width: 10rem;
  position: relative;
}
header .img-social .social {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  bottom: -5px;
}
header .img-social .social .btn {
  color: var(--preto);
  background: var(--branco);
  border-radius: 2rem;
  font-weight: 600;
  font-size: 18px;
  width: 3rem;
  padding: 0.7rem;
  aspect-ratio: 10 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
header .img-social .social .btn:hover {
  background: var(--cinza-claro);
}
header img {
  width: 100%;
  border-radius: 50%;
  position: absolute;
  bottom: -5rem;
  z-index: 1;
}
header .radius {
  width: 195px;
  height: 6rem;
  background-color: transparent;
  border-radius: 0 0 6rem 6rem;
  box-shadow: 3rem 16px 0 var(--branco), -3rem 1rem 0 var(--branco);
}
header .radius::before {
  content: "";
  position: absolute;
  width: calc(50% - 80px - 1rem);
  height: 96px;
  background: var(--branco);
  left: 0%;
  bottom: 0;
  border-radius: 1rem 1rem 0 0;
}
header .radius::after {
  content: "";
  position: absolute;
  width: calc(50% - 80px - 1rem);
  height: 96px;
  background: var(--branco);
  left: calc(50% + 80px + 1rem);
  bottom: 0;
  border-radius: 1rem 1rem 0 0;
}

.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  position: relative;
}
.home-title .title {
  font-size: 2rem;
  font-weight: 600;
}
.home-title .subtitle {
  display: flex;
  text-transform: capitalize;
  position: relative;
  gap: 1rem;
}
.home-title .subtitle h4 {
  font-weight: 600;
}
.home-title .subtitle h4:first-child:after {
  content: "";
  width: 6px;
  aspect-ratio: 10 / 10;
  border-radius: 50%;
  background-color: var(--preto);
  position: absolute;
  top: 8px;
  left: 177.6px;
}
.home-title .subtitle h4:last-child::before {
  content: "";
  width: 6px;
  border-radius: 50%;
  aspect-ratio: 10 / 10;
  background-color: var(--preto);
  position: absolute;
  top: 8px;
  right: 56px;
}
.home-tab {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  gap: 1rem;
}
.home-tab .buttons {
  display: flex;
  gap: 5px;
  margin: auto;
}
.home-tab .buttons button:first-child {
  background: #b5b5b5;
  width: 8rem;
  border-radius: 1rem 0 0 1rem;
  height: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.home-tab .buttons button:last-child {
  background: #dfdfdf;
  width: 8rem;
  border-radius: 0 1rem 1rem 0;
  height: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
}
.home-tab .buttons button:hover {
  background: #b5b5b5 !important;
}
.home-tab .content {
  display: flex;
  width: 200%;
  align-items: flex-start;
}
.home-tab .content .posts,
.home-tab .content .portfolio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
  width: 100%;
  align-content: flex-start;
}
.home-tab .content .posts {
  width: 100%;
}
.home-tab .content .portfolio {
  width: calc(100% - 1rem);
  max-height: 36rem;
  overflow-y: auto;
}
.home-tab .content .posts .item {
  width: 300px;
  padding: 1rem;
  background: var(--cinza-claro);
  border-radius: 8px;
  position: relative;
}
.home-tab .content .posts .item:hover {
  box-shadow: 0rem 0rem 10px var(--preto);
}
/* .home-tab .content .posts .item:first-child::before {
  content: "Novo";
  background: #00b500;
  color: var(--branco);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 10px;
  border-radius: 8px 20px 20px 0px;
  position: absolute;
  top: 8px;
  left: -8px;
  border: 3px solid var(--branco);
} */

.home-tab .content .posts .item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}
.home-tab .content .posts .item h4 {
  font-size: 18px;
}
.home-tab .content .posts .item span {
  letter-spacing: 0px;
  font-size: 14px;
  opacity: 0.3;
  font-weight: 500;
}
.home-tab .content .posts .item p {
  font-size: 14px;
}
.home-tab .content .portfolio .item {
  width: 300px;
  height: 180px;
  position: relative;
  overflow: hidden;
}
.home-tab .content .portfolio .item img {
  width: 100%;
  aspect-ratio: 10 / 6;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  position: absolute;
}
.home-tab .content .portfolio .item .item-layer {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  top: 100%;
  border-radius: 8px;
  overflow: hidden;
  color: var(--branco);
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 1rem;
}
.home-tab .content .portfolio .item .item-layer .btn {
  background: var(--branco);
  color: var(--preto);
  padding: 0.5rem 2rem;
  margin-top: 10px;
}
.home-tab .content .portfolio .item:hover .item-layer {
  top: 0;
}

/* Sobre */
.sobre {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}
.sobre hr {
  background: var(--preto);
  height: 8px;
  width: 10.5rem;
  border-radius: 5px;
}
.sobre p {
  text-indent: 1rem;
}
