@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600&family=Quicksand:wght@300;400;500;600&display=swap');
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--p);
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}
:root{
  --t: 'Josefin Sans', sans-serif;
  --p: 'Quicksand', sans-serif;
  --cinza-escuro: #1c1c1c;
  --cinza: #c4bcc4;
  --branco: #efefef;
}
body{
  color: var(--branco);
  background: var(--cinza-escuro)
}
html::-webkit-scrollbar{
  width: 0.3rem;
  background: transparent
}
html::-webkit-scrollbar-thumb{
  background: var(--branco)
}
img{
  width: 100%
}
section, footer{
  padding: 3rem 0 2rem;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.container{
  max-width: 960px;
  margin: auto;
  width: 100%
}
/*========Cabeçalho========*/
header{
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 100
}
.header-active{
  background: #343434;
  transition: .3s
}
.scroll-top{
  position: fixed;
  bottom: -100%;
  right: 1.5rem;
}
.scroll-active{
  bottom: 2rem;
  transition: 0.3s
}
.scroll-top i{
  padding: 8px;
  font-size: 1.3rem;
  color: var(--branco);
  background: black;
  border-radius: 0.2rem
}
.scroll-top i:hover{
  background: grey;
  transition: .3s;
  color: black
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0
}
.logo{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--branco)
}
.navbar{
  display: flex;
  align-items: center;
  column-gap: 1.5rem
}
.nav-link{
  font-size: 0.94rem;
  padding: 4px 8px;
  border-radius: 0.2rem;
  color: var(--branco)
}
.nav-link:hover{
  color: var(--cinza-escuro);
  background: var(--cinza);
  transition: .3s all linear
}
.menu-icon{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  cursor: pointer;
  z-index: 200;
  transition: 0.3s
}
.menu-icon div{
  display: block;
  background: var(--branco);
  height: 2px; width: 24px;
  transition: .3s
}
.move .line1{
  transform: rotate(-45deg) translate(-5px,5px);
}
.move .line2{
  opacity: 0;
}
.move .line3{
  transform: rotate(45deg) translate(-5px,-5px);
}
/*=====Início=====*/
.home{
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}
.home-content{
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home-img{
  width: 180px; height: 180px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 2rem
}
.home-img img{
  width: 180px; height: 180px;
  object-fit: cover;
  object-position: center;
}
.home-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home-text h3{
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1.1rem;
  color: var(--cinza)
}
.home-text h3:before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  left: -15px;
  width: 20px;
  height: 2px;
  background: var(--cinza)
}
.home-text h3:after{
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: -35px;
  width: 20px;
  height: 2px;
  background: var(--cinza)
}
.home-text h2{
  font-size: 3.5rem;
  line-height: 4.8rem
}
.home-text p{
  font-size: 0.938rem;
  margin-bottom: 1.5rem;
}
.home-text .color, .color{
  color: var(--cinza)
}
.social{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.social i{
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 50%;
  color: var(--cinza);
  background: black
}
.social i:hover{
  background: var(--cinza);
  transition: 0.3s all linear;
  color: var(--cinza-escuro)
}
.heading{
  font-size: 5rem;
  text-transform: uppercase;
  color: var(--cinza);
  text-align: center;
  margin-bottom: 2rem;
}
/*=====Sobre=====*/
.about-content{
  display: block;
  grid-template-rows: repeat(2,1fr);
  gap: 1.5rem;
}
.about-data span{
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #343434
}
.about-data h2{
  font-size: 2rem;
  line-height: 2.6rem;
  font-weight: 700;
  margin: 1rem 0;
}
.btn{
  font-size: 0.97rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--branco);
  background: black;
  padding: 12px 16px;
  border-radius: 0.4rem;
  margin-top: 1rem
}
.btn i{
  font-size: 1.2rem;
}
.btn:hover{
  background: var(--cinza);
  color: var(--cinza-escuro);
  transition: .3s all linear
}
.about-text p{
  font-size: 0.98rem;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 1.5rem
}
/*=====Portfólio=====*/
.portfolio-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
}
.portfolio-box{
  position: relative;
  width: 100%;
  height: 320px;
  border-radius: 1rem;
  overflow: hidden;
}
.portfolio-img{
  width: 100%;
  height: 100%;object-fit: cover;
  object-position: center;
}
.portfolio-overlay{
  position: absolute;
  top: -100%;left: 0; width: 100%;
  height: 100%; display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
}
.portfolio-overlay span{
  letter-spacing: 7px
}
.portfolio-overlay h2{
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.portfolio-overlay i{
  font-size: 24px;
  color: var(--branco);
  border-radius: 4px
}
.portfolio-overlay i:hover{
  transition: 0.3s all linear;
  color: var(--cinza-escuro)
}
.portfolio-box:hover .portfolio-overlay{
  top: 0;
  transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1)
}
.portfolio-box:hover .portfolio-overlay{
  top: 0; transition: .3s all ease
}
/*=====Contato=====*/
.contact-form{
  max-width: 600px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-row-gap: 1rem;
}
.contact-form input,.contact-form textarea{
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 15px;
  color: var(--branco);
  background: black;
  border-radius: 0.4rem;
}
.contact-form .send-btn{
  width: 120px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px;
  background: black;
  cursor: pointer;
}
.contact-form .send-btn:hover{
  background: var(--cinza);
  color: black;
  transition: .3s all linear
}
/*=====Rodapé=====*/
.footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-row-gap: 1.4rem;
  padding: 30px 0;
}
.footer p{
  font-size: 0.9rem;
}
.footer-links{
  display: flex;
  align-items: center;
  column-gap: 1rem
}
.footer-links a{
  font-size: 1rem;
  font-weight: 400;
  color: var(--cinza)
}
.footer-links a:hover{
  color: white;
  transition: .3s all linear
}
/*=====Media Query=====*/
@media (max-width: 990px){
  .container{
    margin: 0 auto;
    width: 90%
  }
}
@media (max-width: 892px){
  section, footer{
    padding: 2rem 0;
  }
  .nav{
    padding: 12px 0;
  }
  .heading{
    font-size: 4rem;
  }
  .portfolio-box{
    height: 257px;
  }
}
@media (max-width: 775px){
  .logo{
    font-size: 1.1rem;
  }
  .home{
    min-height: 500px;
    padding-top: 6rem;
  }
  .home-text h3{
    font-size: 1rem;
    line-height: 3.8rem;
  }
  .home-text p{
    font-size: 0.825rem;
  }
  .portfolio-box{
    height: 245px
  }
  .menu-icon{
    display: flex;
  }
  .navbar{
    position: absolute;
    top: 0; right: -100%;
    width: 300px;
    height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .open-menu{
    right: 0;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav-link{
    display: block;
    margin: 1rem 0;
  }
}
@media (max-width: 635px){
  .about-content{
    grid-template-columns: 1fr;
  }
  .about-data span{
    font-size: 0.9rem
  }
  .about-data h2{
    font-size: 1.7rem;
    line-height: 2.3rem;
    font-weight: 600;
    margin: 0.8rem 0;
  }
  .about-text p{
    font-size: 0.825rem;
    margin-bottom: 1.3rem;
  }
  .portfolio-overlay h2{
    font-size: 1.1rem
  }
}
@media (max-width: 450px){
  .home{
    min-height: 485px;
    padding-top: 5rem;
  }
  .home-img{
    width: 140px;
    height: 140px;
  }
  .home-img img{
    width: 140px;
    height: 140px
  }
  .home-text h2{
    font-size: 2.1rem;
    line-height: 3.2rem
  }
  .home-text p br{
    display: contents;
  }
  .heading{
    font-size: 3rem
  }
  .about-data h2{
    font-size: 1.5rem;
    line-height: 2.1rem;
    margin: 0.6rem 0;
  }
  .portfolio-content{
    grid-template-columns: 1fr
  }
  .footer-links{
    flex-direction: column;
    grid-row-gap: 1rem;
  }
}
@media (max-width: 325px){
  .navbar{
    width: 100%;
  }
  .portfolio-box{
    height: 190px
  }
}
