@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Montserrat:wght@200;400;600;800&display=swap');
*{
  padding: 0; margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif; Prarágrafos
  outline: none; border: none; transition: .2s linear;
}
:root{
  --rosa: #ed6b7c;
  --rosa-claro: #fed1bc;
  --cinza-escuro: #575756;
  --azul-marinho: #12e8f2;
  --roxo-violeta: #8512eb;
}
/*
Cores=============================================

#FED1BC Rosa Claro;
#ED6B7C Rosa;
#575756 Cinza Escuro;
#8512eb Roxo Violeta;
#12e8f2 Azul Marinho

Fontes============================================

font-family: 'Cinzel', serif; Títulos
font-family: 'Montserrat', sans-serif; Prarágrafos

*/
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
body{
  background: #e1e1e1
}
header{
  position: fixed;
  top: 0; left: 0; right: 0;
  background: var(--rosa);
  padding: 10px 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}
.heading{
  text-align: center;
  font-size: 4rem;
  color: var(--cinza-escuro);
  padding: 1rem;
  margin: 2rem 0;
  background: var(--rosa-claro);
  font-family: 'Cinzel', serif;
  border-radius: 5px
}
.heading span{
  color: var(--rosa);
  font-family: 'Cinzel', serif;
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: var(--rosa);
  color: #fff;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
  border: 1px solid var(--rosa)
}
.btn:hover{
  background: var(--rosa-claro);
  color: var(--cinza-escuro);
  border: 1px solid var(--cinza-escuro)
}
section{
  padding: 2rem 9%
}
.logo{
  width: 150px
}
.menu a{
  font-size: 2rem;
  padding: 0 1.5rem;
  color: var(--rosa-claro)
}
.menu a:hover{
  color: var(--cinza-escuro)
}
#toggler{
  display: none;
}
header .fa-bars{
  font-size: 3rem;
  color: var(--rosa-claro);
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  border: .1rem solid var(--rosa-claro);
  display: none
}
.home{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(225, 225, 225, 0.5), rgba(225, 225, 225, 1)), url("https://i.imgur.com/jfmWcyb.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
.home .content{
  max-width: 50rem;
}
.home .content h3{
  font-size: 6rem;
  color: var(--rosa);
  font-family: 'Cinzel', serif;
  text-shadow: 2px 2px 2px
}
.home .content span{
  font-size: 3.5rem;
  color: var(--cinza-escuro);
  padding: 1rem 0;
  line-height: 1.5;
}
.home .content p{
  font-size: 1.5rem;
  color: var(--cinza-escuro);
  padding: 1rem 0;
  line-height: 1.5
}
.about .row{
  display: flex;
  align-items: center;
  gap:2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}
.about .row .img-container{
  flex: 1 1 40rem;
  position: relative;
  align-items: center;
}
.about .row .img-container img{
  width: 100%;
  border: 1.5rem solid var(--rosa-claro);
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .5);
  height: 10%;
  object-fit: cover;
}
.about .row .img-container h3{
  position: absolute;
  top: 50%; transform: translateY(-50%);
  font-size: 3rem;
  background: var(--rosa);
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}
.about .row .content{
  flex: 1 1 40rem;
}
.about .row .content h3{
  font-size: 3rem;
  color: var(--rosa)
}
.about .row .content p{
  font-size: 1.5rem;
  color: var(--cinza-escuro);
  padding: .5rem 0;
  padding-top: 1rem;
  line-height: 1.5
}
.icons-container{
  background: var(--cinza-escuro);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.icons-container .icons{
  background: var(--rosa);
  border: .1rem solid rgba(0, 0, 0, .1);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
  color: var(--rosa-claro);
  border-radius: 4px
}
.icons-container .icons i{
  height: 5rem;
  margin-right: 2rem;
  font-size: 40px
}
.icons-container .icons h3{
  padding-bottom: .5rem;
  font-size: 1.5rem
}
.icons-container .icons span{
  font-size: 1.3rem;
  color: var(--rosa-claro)
}
.service-box{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
}
.single-service{
  flex-basis: 200px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}
.single-service img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 5px;
  background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(255, 255, 255, 0.5));
  opacity: 0;
  transition: 1s;
}
.single-service:hover .overlay{
  opacity: 1
}
.service-desc{
  width: 80%;
  position: absolute;
  bottom: 0;
  left: 50%;
  opacity: 0;
  color: var(--cinza-escuro);
  transform: translateX(-50%);
  transition: .5s
}
.service-desc p{
  font-size: 12px;
}
.service-desc h3{
  font-size: 12px;
}
hr{
  background: var(--cinza-escuro);
  height: 2px;
  border: 0;
  margin: 15px auto;
  width: 60%;
}
.single-service:hover .service-desc{
  bottom: 35%;
  opacity: 1
}
.review{
  background: #8512eb;
}
.review-2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 0;
  width: 100%
}
.box-container .card{
  position: relative;
  width: 90%;
  height: 440px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin: 30px
}
.box-container .card .caixa{
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #575756;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-container .card .caixa-content{
  padding: 20px;
  text-align: center;
  color: var(--rosa-claro);
  width: 350px
}
.box-container .card .caixa-content h3{
  font-size: 30px;
  z-index: 1;
  transition: 0.5s
}
.box-container .card .caixa-content p{
  font-size: 12px;
  font-weight: 300;
  z-index: 1;
  transition: 0.5s
}
.box-container .card:hover{
  background: var(--azul-marinho);
}
.box-container .card:hover .caixa{
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0);
  background: #085d61
}
.footer{
  background: var(--cinza-escuro);
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footer .social a{
  padding-bottom: 25px;
  color: var(--rosa-claro);
  font-size: 24px;
  border: 1px solid var(--rosa-claro);
  width: 40px;
  height: 40px;
  line-height: 38px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 30px 8px;
  opacity: 0.75
}
.footer .social a:hover{
  opacity: 1;
  color: var(--azul-marinho);
  border: 1px solid var(--azul-marinho)
}
.footer .copyright{
  margin-top: 15px;
  font-size: 13px;
  color: var(--rosa-claro)
}
.footer p{
  color: var(--rosa-claro);
  font-size: 15px;
  margin: 30px auto 0;
}
@media (max-width: 991px){
  html{
    font-size: 55%
  }
  header{
    padding: 2rem
  }
  section{
    padding: 2rem;
  }
  .home{
    background-position: left;
  }
  .about .row .img-container img{
    width: 100%
  }
  .about .row .img-container{
    text-align: center;
  }
}
@media (max-width: 768px){
  .about .row .img-container img{
    width: 80%
  }
  .about .row .img-container{
    text-align: center;
  }
  header .fa-bars{
    display: block;
  }
  header .menu{
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: var(--cinza-escuro);
    border-top: .1rem solid rgba(0, 0, 0, .1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header #toggler:checked ~ .menu{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .menu a{
    margin: 1.5rem;
    padding: 1.5rem;
    background: var(--rosa);
    border: .1rem solid rgba(0, 0, 0, .1);
    display: block;
    border-radius: 5px
  }
  header .menu a:hover{
    color: var(--cinza-escuro);
    background: var(--rosa-claro)
  }
  .home .content h3{
    font-size: 5rem;
  }
  .home .content span{
    font-size: 2.5rem
  }
  .icons-container .icons h3{
    font-size: 2rem
  }
  .icons-container .icons span{
    font-size: 1.7rem;
  }
}
@media (max-width: 450px){
  html{
    font-size: 50%
  }
  .heading{
    font-size: 3rem;
  }
  .about .row .img-container img{
    width: 300px
  }
  .about .row .img-container{
    text-align: center;
  }
}
